<!DOCTYPE html> <!-- All HTML files should start with this DOCTYPE tag-->
<html>
    <head>
        <title>Pokedex</title>

        <!-- For this page, your styles will be in /static/css/search.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/search.css" />
    </head>
    <body>
        <!-- Your HTML should start here -->
        <!-- Look up the Jinja documentation to display items passed from the server -->
        <!-- There should be no JavaScript used on this page -->
        <div class="container">
            <h1>Search</h1>
            <form class="search" action="/search">
                <input type="text" name="query" id="query" placeholder="search">
            </form>
            <div class="result-meta">Showing {{results|length}} results for "{{searchstring}}"</div>
            {% for i in results%}
            <div class="result">
                {% if 'types' in i %}
                <a class="title" href="/pokemon/{{i['id']}}">{{i['name']|safe}}</a>
                <div class="subtitle">Pokemon</div>
                {% else %}
                <a class="title" href="/teams/{{i['id']}}">{{i['name']|safe}}</a>
                <div class="subtitle">Team</div>
                {% endif %}
                <div>{{i['description']|safe}}</div>
            </div>
            {% endfor %}
            
        </div>
        <!-- Your HTML should end here -->
    </body>
</html>