<!DOCTYPE html> <!-- All HTML files should start with this DOCTYPE tag-->
<html>
    <head>
        <title>Pokedex</title>

        <!-- For this page, your styles will be in /static/css/search.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/search.css" />
    </head>
    <body>
        <!-- Your HTML should start here -->
        <!-- Look up the Jinja documentation to display items passed from the server -->
        <!-- There should be no JavaScript used on this page -->

        <!-- Your HTML should end here -->
    </body>
</html>